<app-page-description [title]=emission(key)[0].title [img]=emission(key)[0].img></app-page-description>

<div class="site-section">
  <div class="container">
    <div *ngFor="let audio of mediaOfEmission" class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
      <div class="image" [ngStyle]="{ 'background-image': 'url(' + audio.img + ')'}"></div>
      <div class="text">

        <h3 class="font-weight-light"><a>{{audio.title}}</a></h3>
        <p class="mb-4 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>
        <div class="player">
          <audio preload="none" controls style="max-width: 100%">
            <source [src]="audio.source" type="audio/mp3">
          </audio>
        </div>

      </div>
    </div>

  </div>
</div>
