<app-page-description title="à propos de nous" img="assets/wobin/644b4e13-8e9b-476a-979f-e95c0b45cb3f.jpg"></app-page-description>

<div class="site-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 ml-auto order-lg-2 mb-5" data-aos="fade-up" data-aos-delay="200">
        <img src="assets/wobin/e6dc2955-deed-476f-9cb0-6fafd9308c1e.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="col-lg-6 order-lg-1" data-aos="fade-up" data-aos-delay="100">
        <div class="site-section-heading text-left mb-5 w-border">
          <h2>A propos de radio WOBIN</h2>
        </div>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate accusamus porro, iusto id
          iste, quo nulla. Quisquam quia reiciendis iste earum mollitia officiis pariatur, culpa ab rerum quam, sint
          veritatis?</p>
        <p>Nobis rem impedit eligendi! Temporibus dolorum rerum quod autem, iusto excepturi distinctio maxime, deserunt,
          odio veritatis aliquid illo dolorem! Odio quibusdam repellat dolores dolor ipsum perferendis id, quod
          voluptates amet.</p>
        <p>Perspiciatis porro cumque dicta laborum laudantium quia et expedita dolorum, quis id facilis repudiandae
          nostrum nam temporibus dolores impedit tempora! Blanditiis tenetur neque harum molestiae ipsa minus. Nulla
          nemo, quis.</p>
      </div>

    </div>
  </div>
</div>
