<app-page-description title="Shows" img="assets/wobin/644b4e13-8e9b-476a-979f-e95c0b45cb3f.jpg"></app-page-description>

<div class="site-section">
  <div class="container">
    <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
      <div class="image" style="background-image: url('assets/vendor/images/img_1.jpg');"></div>
      <div class="text">

        <h3 class="font-weight-light"><a href="#">One Hit Wonder</a></h3>
        <div class=" mb-3 text-black"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>
        <p class="mb-4 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>

        <div class="player">
          <audio preload="none" controls style="max-width: 100%">
            <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
          </audio>
        </div>

      </div>
    </div>


    <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
      <div class="image" style="background-image: url('assets/vendor/images/img_2.jpg');"></div>
      <div class="text">

        <h3 class="font-weight-light"><a href="#">Tired Bones</a></h3>
        <div class=" mb-3 text-black"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>
        <p class="mb-4 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>


        <div class="player">
          <audio preload="none" controls style="max-width: 100%">
            <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
          </audio>
        </div>

      </div>
    </div>


    <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
      <div class="image" style="background-image: url('assets/vendor/images/img_3.jpg');"></div>
      <div class="text">

        <h3 class="font-weight-light"><a href="#">Take Me Back</a></h3>
        <div class=" mb-3 text-black"><span class="text-black-opacity-05"><small>By Mike Smith <span class="sep">/</span> 16 September 2017 <span class="sep">/</span> 1:30:20</small></span></div>
        <p class="mb-4 text-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti repellat mollitia consequatur, optio nesciunt placeat. Iste voluptates excepturi tenetur, nesciunt.</p>

        <div class="player">
          <audio preload="none" controls style="max-width: 100%">
            <source src="http://www.largesound.com/ashborytour/sound/AshboryBYU.mp3" type="audio/mp3">
          </audio>
        </div>
      </div>
    </div>


  </div>
</div>
