<app-page-description title="Programmes" img="assets/wobin/644b4e13-8e9b-476a-979f-e95c0b45cb3f.jpg"></app-page-description>

<section id="schedule" class="section-with-bg">
  <div class="container" data-aos="fade-up">
    <ul  class="nav nav-tabs" role="tablist" data-aos="fade-up" data-aos-delay="100">
      <li *ngFor="let program of programs; let i = index" class="nav-item">
        <a (click)="fonction(i)" class="nav-link btn" routerLinkActive="active" role="tab" data-toggle="tab">{{days[i]}}</a>
      </li>
    </ul>

    <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius
      necessitatibus voluptatem quis labore perspiciatis quia.</h3>

    <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div  role="tabpanel" class="col-lg-9 tab-pane fade show active" [id]="idProg">
          <app-programme-of-day [dayPrograms]="programs[idProg]"></app-programme-of-day>
        </div>
    </div>

  </div>

</section><!-- End Schedule Section -->
