<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url('assets/wobin/cfea0ce5-7a8d-4179-860a-1c3fb8d76398.jpg');"
     data-aos="fade" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-7 text-center" data-aos="fade-up" data-aos-delay="400">
        <h1 class="text-white">Notre équipe</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="site-block-half d-block d-lg-flex site-block-video">
    <div class="image bg-image order-2" style="background-image: url(assets/wobin/03b60ee3-2cdf-4a13-938a-5e4b594c5493.jpg); margin-top: -50px; " data-aos="fade-up"
         data-aos-delay="200">
<!--      <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span-->
<!--        class="icon-play"></span></a>-->
    </div>
    <div class="text order-1" data-aos="fade-up">
      <h2 class="text-white mb-3">Animateur Coulibaly Siriki</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum vel, eius nulla inventore aperiam
        excepturi molestias incidunt, culpa alias repudiandae, a nobis libero vitae repellendus temporibus vero sit
        natus.</p>
    </div>
  </div>
</div>

<app-team></app-team>
