<app-page-description title="Notre équipe"></app-page-description>

<div class="container">
  <div class="site-block-half d-block d-lg-flex site-block-video">
    <div class="image bg-image order-2" style="background-image: url(assets/vendor/images/person_1.jpg); margin-top: -50px; " data-aos="fade-up"
         data-aos-delay="200">
      <a href="https://vimeo.com/channels/staffpicks/93951774" class="play-button popup-vimeo"><span
        class="icon-play"></span></a>
    </div>
    <div class="text order-1" data-aos="fade-up">
      <h2 class="text-white mb-3">Featured DJ</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id cum vel, eius nulla inventore aperiam
        excepturi molestias incidunt, culpa alias repudiandae, a nobis libero vitae repellendus temporibus vero sit
        natus.</p>
      <p>Dolores perferendis ipsam animi fuga, dolor pariatur aliquam esse. Modi maiores minus velit iste enim sunt
        iusto, dolore totam consequuntur incidunt illo voluptates vero quaerat excepturi. Iusto dolor, cum et.</p>
    </div>
  </div>
</div>

<app-team></app-team>
