<div class="site-section bg-dark">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
        <h2 class="mb-5">Equipe</h2>
        <p style="color: #0b0b0b">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt
          officia, error reiciendis ab quod?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="./assets/wobin/f806125d-656c-4542-95d8-5a46731134b4.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 400px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Ben Diakite</h2>
            <span class="d-block mb-2 text-white-opacity-05">Superviseur radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <!--            <p>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            <!--            </p>-->
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="./assets/wobin/3073fe45-034b-4663-96bc-ccd10003e023.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 400px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Coulibaly Sirikiet</h2>
            <span class="d-block mb-2 text-white-opacity-05">Animateur à radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <!--            <p>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            <!--            </p>-->
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="./assets/wobin/1746b7a4-483f-4d54-bec4-42a88d05a5e0.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 400px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Fatou Fofana</h2>
            <span class="d-block mb-2 text-white-opacity-05">Animatrice à radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <p>
              <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            </p>
          </div>

        </div>

      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="./assets/wobin/b2fb418f-307a-4a2c-8869-18ff5213879b.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 400px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">L’artiste le coq de la Bagoué</h2>
            <span class="d-block mb-2 text-white-opacity-05">Collaborateur de radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <p>
              <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            </p>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="./assets/wobin/8272b9ab-04fb-41e1-8521-53bcc4221a96.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 400px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Coulibaly Yadé</h2>
            <span class="d-block mb-2 text-white-opacity-05">Animateur à radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <p>
              <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            </p>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="./assets/wobin/e4b90bdc-8ac5-4fc4-abfe-f541cf2ebcb9.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 400px">

          <div class="text">
            <h2 class="mb-2 font-weight-light h4">Bamba Laciné</h2>
            <span class="mb-2 font-weight-light h4">Technicien à radio Wobin radio Wobin</span>

            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <p>
              <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
