<div class="site-section bg-dark">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="site-section-heading text-center mb-5 w-border col-md-6 mx-auto">
        <h2 class="mb-5">Equipe</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, fugit nam obcaecati fuga itaque deserunt
          officia, error reiciendis ab quod?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="assets/wobin/f806125d-656c-4542-95d8-5a46731134b4.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 500px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Ben Diakite</h2>
            <span class="d-block mb-2 text-white-opacity-05">Superviseur radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <!--            <p>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            <!--            </p>-->
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="assets/wobin/03b60ee3-2cdf-4a13-938a-5e4b594c5493.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 500px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Coulibaly Sirikiet</h2>
            <span class="d-block mb-2 text-white-opacity-05">Animateur à radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <!--            <p>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
            <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            <!--            </p>-->
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="assets/wobin/ba75c60d-92e3-41ec-8a6b-8f3be9d0b6b3.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 500px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Fatou Fofana</h2>
            <span class="d-block mb-2 text-white-opacity-05">Animatrice à radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <p>
              <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            </p>
          </div>

        </div>

      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="assets/wobin/b2fb418f-307a-4a2c-8869-18ff5213879b.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 500px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">L’artiste le coq de la Bagoué</h2>
            <span class="d-block mb-2 text-white-opacity-05">Collaborateur de radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <p>
              <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            </p>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="assets/wobin/e6dc2955-deed-476f-9cb0-6fafd9308c1e.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 500px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Dramane soro</h2>
            <span class="d-block mb-2 text-white-opacity-05">Animateur à radio Wobin</span>
            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <p>
              <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            </p>
          </div>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 mb-5 mb-lg-5">
        <div class="team-member">

          <img src="assets/wobin/cfea0ce5-7a8d-4179-860a-1c3fb8d76398.jpg" alt="Image" class="img-fluid"
               style="width: 100%; height: 500px">

          <div class="text">

            <h2 class="mb-2 font-weight-light h4">Les animateurs  et le technicien radio Wobin</h2>

            <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit ullam reprehenderit nemo.</p>
            <p>
              <!--              <a href="#" class="text-white p-2"><span class="icon-facebook"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-twitter"></span></a>-->
              <!--              <a href="#" class="text-white p-2"><span class="icon-linkedin"></span></a>-->
            </p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
